<% provide(:title) %>

<div class="center jumbotron">
  <h1>
    Prediction settings
  </h1>
</div>

<h2>Setup your preferencies for prediction</h2>

<%= render "shared/form_exchange_settings", user: current_user %>

<%= link_to "Back", exchange_settings_path %>
