<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-text">
        <small>The Money Exchange Predictor by <a href="https://github.com/kilimandzsaro">Natalia Bakos</a>
        </small>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
    </nav>
  </div>
</footer>