<footer class="footer">
  <small>
    The Money Exchange Predictor</a>
    by <a href="https://github.com/kilimandzsaro">Natalia Bakos</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>